<div class="container">
  <app-new-post></app-new-post>

  @if(!store.isLoading()){
  <mat-button-toggle-group
    #filter
    (change)="onFilterPosts($event)"
    name="fontStyle"
    aria-label="Font Style"
  >
    <mat-button-toggle value="666">1</mat-button-toggle>
    <mat-button-toggle value="2">2</mat-button-toggle>
    <mat-button-toggle value="3">3</mat-button-toggle>
    <mat-button-toggle value="">niiiind</mat-button-toggle>
  </mat-button-toggle-group>
  <app-post-list></app-post-list>
  } @else {
  <mat-spinner />
  }
</div>
